:root {
  --red: #ea5e5e;
  --yellow: #f7ba3e;
  --blue: #56b3b4;
  --purple: #bf85bf;
  --background: #1a2b34;
  --gray: #465862;
  --unit: 10px;
}

body {
  background: var(--background);
  margin: 0;
  padding-top: 50px;
  padding-left: 50px;
}

.container {
  position: relative;
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: var(--unit);
  overflow: hidden;
}

.container:hover {
    border: 1px solid white;
}

.container:hover::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    opacity: .5;
    background: red;
}

.row {
  height: var(--unit);
  display: flex;
  justify-content: center;
  gap: var(--unit);
}

.cell {
  height: 100%;
  width: calc(var(--size, 2) * var(--unit));
  background-color: var(--gray);
  border-radius: 1000px;
}

.cell.size-2 { --size: 2;} 
.cell.size-4 { --size: 4;}
.cell.size-6 { --size: 6;}
.cell.size-8 { --size: 8;}
.cell.size-10 { --size: 10;}
.cell.size-12 { --size: 12;}
.cell.size-14 { --size: 14;}
.cell.size-16 { --size: 16;}
.cell.size-18 { --size: 18;}
.cell.size-20 { --size: 20;}

.cell.blue {background-color: var(--blue);}
.cell.red {background-color: var(--red);}
.cell.yellow {background-color: var(--yellow);}
.cell.purple {background-color: var(--purple);}

.row:nth-child(2) {--delay: 2;}

.row:nth-child(3) {--delay: 3;}

.row {
    translate: -50px;
    animation: load-row 1ms calc(var(--delay) * 500ms) forwards;
}

.row:nth-child(2n) {
    translate: 50px;
}

@keyframes load-row {
    100% {
        translate: 0;
    }
}